* {
    box-sizing: border-box;
}

body {
    background-color: #535758;
    font-family: "Arial", sans-serif;
    margin: 0;
}

.container {
    margin: 3% auto;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
}

h1 {
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}

form {
    /*padding: 15px;*/
    text-align: center;
}

input {
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}

form .field {
    background-color: #ECF0F1;
}

form .field:focus {
    border: 2px solid #535758;
    outline: none;
}

form .btn {
    background-color: #535758;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}

form .btn:hover,
form .btn:active {
    background-color: #343a3c;
}

.pass-link {
    text-align: center;
}

.pass-link a:link,
.pass-link a:visited {
    font-size: 12px;
    color: #777;
}

#accounts ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

#accounts li {
    display: flex;
    padding: 8px 0;
    margin: 0 auto 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
    background-color: #ECF0F1;
}

#accounts span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    font-size: 20px;
}

.delete-icon {
    font-size: 30px;
}

.user,
.delete {
    width: 50px;
}

.delete {
    margin-left: auto;
}

#accounts button {
    all: initial;
    margin: 0 12px;
    cursor: pointer;
    vertical-align: middle;
}

#accounts .delete button {
    float: right;
    color: red;
    height: 30px;
}

#accounts .delete button:hover,
#accounts .delete button:active {
    color: rgb(220, 0, 0);
}

#accounts button i {
    padding: 0;
}

#accounts .user button i {
    float: left;
}


/* Hide scrollbar */

::-webkit-scrollbar {
    display: none;
}