/* Fixed sidenav, full height */

.sidenav {
    height: calc(100% - 92px);
    position: fixed;
    z-index: 1;
    top: 92px;
    left: 0;
    width: 130px;
    background-color: #272b2c;
    overflow-x: hidden;
}

.v-dropdown:hover .dropdown-container {
    display: block;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #272b2c;
    padding-left: 8px;
}

.sidenav * {
    margin: 0;
    padding: 0;
}

.sidenav button {
    width: 100%;
    border: none;
    align-items: center;
    cursor: pointer;
    line-height: 25px;
    color: #fff;
    background-color: #272b2c;
}

.nav-item {
    text-align: left;
    display: inline-block;
    padding: 10px 15px;
    color: white;
}

.nav-item:hover {
    background-color: #535758;
}

.dropdown-container button {
    color: black;
    background-color: #fff;
    padding: 6px 8px;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.dropdown-container button:hover {
    background-color: #f1f1f1;
}

.fa-caret-down {
    float: right;
    padding: auto;
}

.v-dropdown i {
    line-height: inherit;
}